<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052104518755-meeu5ngok79tiir4eekpucan4qc1jot7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052104518755-meeu5ngok79tiir4eekpucan4qc1jot7</string>
	<key>API_KEY</key>
	<string>AIzaSyCGSJngnc50PY13ANPfnVSRP2XQXaEqT7o</string>
	<key>GCM_SENDER_ID</key>
	<string>1052104518755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.TestSehatQ</string>
	<key>PROJECT_ID</key>
	<string>sehatq-a5ee4</string>
	<key>STORAGE_BUCKET</key>
	<string>sehatq-a5ee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052104518755:ios:ab22058c317b33bf</string>
	<key>DATABASE_URL</key>
	<string>https://sehatq-a5ee4.firebaseio.com</string>
</dict>
</plist>